*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
}

nav{
    width: 100%;
    height: 6%;    
    padding: 10px 1%;
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgba(112, 112, 112, 0.424);
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}
.saketh{
    height: 88.6%;
}
.hero-icon{
    width: 15%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    button{
        border: none;
        background-color: transparent;
        font-size: larger;
    }
}
h1{
    color: #3aa880;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.4em;
}

.nav-links{
    display: flex;
    gap: 8%;
    width: 35%;
    font-size: 0.9em;
    

}
.nav-links a{
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    color: rgba(0, 0, 43, 0.947);
  
}
.nav-links a:hover{
    border-radius: 8px;
    padding: 4px;
    text-decoration: none;
    font-weight: bold;
    background-color: #3aa880;
    color: white;
    

}
#search{
    width: 15%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    padding: 6px 10px;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.261);
    border-radius: 8px;
}
.nav-buttons{
    display: flex;
    gap: 10px;
}
#login{
    padding: 6px 15px;
    border-radius: 7px;
    border: 2px solid #3aa880;
    color: #3aa880;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
#login:hover{
    background-color: #3aa880;
    color: white;
    cursor: pointer;
}
#signup{
    padding: 6px 10px;
    border-radius: 7px;
    background-color: #3aa880;
    border: 2px solid #3aa880;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
#signup:hover{
    background-color: white;
    color: #3aa880;
    cursor: pointer;
}


.content{
    display: flex;
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
}
.sidebar{
    padding: 30px 10px 0px 20px;
    min-width: fit-content;
    width: 14%;
    background-color: white;
    font-size: 14px;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.205);
    z-index: 10;
}

.sidebar-items{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}
.sidebar-item{
    padding: 12px;
    border-radius: 7px;
    font-weight: bold;
    color: rgb(0, 0, 48);

}
.sidebar-item:hover{
    background-color: rgba(154, 236, 209, 0.409);
}
.main{
    padding: 30px;
    flex: 1;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}
.menu-heading{
    gap: 10px;
    align-items: center;
    display: flex;
    font-size: 25px;
    margin-bottom: 30px;
}
.picks{
    background-color: #3aa880;
    padding: 3px 8px;
    font-weight: 600;
    color: white;
    border-radius: 30px;
    font-size: 15px;
}
.container{
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    padding-bottom: 10px;
}
.food-item{
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.205);
    background-color: white;
    width: 33%;
    justify-content: space-between;
    display : flex;
    height: 100%;

    flex-direction: column;
    border-radius: 10px;
    padding: 1.5%;
    flex-wrap: wrap;
    img{
        margin-bottom: 20px;
        border-radius: 10px;
        width: 100%;
        height: 200px;
    }
    h5{
        color: rgb(0, 0, 69);
        font-size: larger;
        margin-bottom: 10px;
    }
    p{
        color: rgb(84, 84, 84);
        font-size: 14px;
    }
}
.rate{
    display: flex;
    width: 100%;
    justify-content: space-between;
    p{
        color: #3aa880;
        font-size: 25px;
        font-weight: bold;
    }
    button{
        padding: 8px 15px;
        border: none;
        background-color: #3aa880;
        color: white;
        font-weight: bold;
        border-radius: 7px;
         border: 1px solid #3aa880;
        cursor: pointer;
    }
    button:hover{
        background-color: rgb(255, 255, 255);
        color: #3aa880;
        border: 1px solid #3aa880;
        transition: all 0.3s ease-in-out;
    }
}

footer{
    display: flex;
    height: 6%;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: rgb(11,11,69);
    color: white;
}


.food-item:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.397);
}