*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{

}

nav{

    padding: 10px 1.5%;
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 4px rgb(216, 208, 192);
    justify-content: space-between;

    align-items: center;
}
.hero-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    button{
        border: none;
        background-color: transparent;
        font-size: larger;
    }
}
h1{
    color: #3db489;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28px;
}

.nav-links{
    display: flex;
    gap: 10%;

}
#search{
    width: 15%;
    display: flex;
    align-items: center;
    padding: 5px;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.509);
    border-radius: 8px;
}
.nav-buttons{
    display: flex;
    gap: 10px;
}
#login{
    padding: 6px 15px;
    border-radius: 7px;
    border: 2px solid #3db489;
    color: #3db489;
    font-weight: bold;
    background-color: white;
}
#signup{
    padding: 6px 10px;
    border-radius: 7px;
    background-color: #3db489;
    border: 2px solid #3db489;
    color: white;
    font-weight: bold;
}


.content{
    display: flex;
    background-color: antiquewhite;
    width: 100%;
    height: calc(100vh - 94px);
}
.sidebar{
    padding: 20px 10px 0px 20px;
    min-width: fit-content;
    width: 14%;
    background-color: white;
    font-size: 14px;
}

.sidebar-items{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar-item{
    padding: 12px;
    border-radius: 7px;
    font-weight: bold;
    color: rgb(0, 0, 48);

}
.sidebar-item:hover{
    background-color: rgba(154, 236, 209, 0.614);
}
.main{
    padding: 30px;
    width: 100%;
    background-color: whitesmoke;
}
.menu-heading{
    gap: 10px;
    align-items: center;
    display: flex;
    font-size: 25px;
}
.picks{
    background-color: #3db489;
    padding: 4px 8px;
    font-weight: 800;
    color: white;
    border-radius: 30px;
    font-size: 15px;
}
.container{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}
.food-item{
    background-color: white;
    width: 33%;
    justify-content: space-between;
    display : flex;
    height: 550px;

    flex-direction: column;
    border-radius: 10px;
    padding: 1.5%;
    flex-wrap: wrap;
    img{
        margin-bottom: 20px;
        border-radius: 10px;
        width: 100%;
        height: 200px;
    }
    h5{
        color: rgb(0, 0, 69);
        font-size: larger;
        margin-bottom: 10px;
    }
    p{
        color: rgb(84, 84, 84);
    }
}
.rate{
    display: flex;
    width: 100%;
    justify-content: space-between;
    p{
        color: #3db489;
        font-size: 25px;
        font-weight: bold;
    }
    button{
        padding: 8px 15px;
        border: none;
        background-color: #3db489;
        color: white;
        font-weight: bold;
        border-radius: 7px;
        cursor: pointer;
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: rgb(11,11,69);
    color: white;
}
